#navigation-container {
  width: 12%;
  transition: width 0.3s ease-in-out;
  overflow: hidden; /* Hide overflowing content during transition */
  border-radius:12px  
}

#navigation-container:hover {
  width: 12%;
}

/* Initially hide nav-item-name */
.nav-item-name {
  
  transition: opacity 0.2s ease-in-out; /* Add opacity transition */
}

#navigation-container:hover .nav-item-name {
  display: block;
  opacity: 1;
}

.search-input {
  display: none;
  opacity: 0;
  transition: opacity 0.2s ease-in-out; /* Add opacity transition */
}

#navigation-container:hover .search-input {
  display: block;
  opacity: 1;
}

#navigation-container:hover .search-icon {
  
  transition: opacity 0.2s ease-in-out; /* Add opacity transition */
}
